<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Fornecedores</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	

	<div class="container">
		<form id="CadForcenedores" action="/Fornecedores/Cadastro" method="post">
			<div class="">
				<div class="input-field col s6">
					<input type="text" id="NomeFor" name="NomeFor" class="validate" required	maxlength="100">
					 <label for="NomeFor" data-error="Preencha o campo Nome" class="active">Nome Do Fornecedor</label>
				</div>
			</div>
			<div class="">
				<div class="input-field col s6">
					<input type="text" id="EnderecoFor" name="EnderecoFor" class="validate" required	maxlength="255">
					 <label for="EnderecoFor" data-error="Preencha o campo Endereço" class="active">Endereço</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="EmailFor" name="EmailFor" class="validate" required maxlength="45"> 
					<label for="EmailFor" data-error="Preencha o campo Email corretamente" class="active">Email</label>
				</div>
				 <div class="input-field col s6">
				    <select id="CodigoCid" name="CodigoCid" required>
				      <option th:each = "cidade : ${cidades}" th:value="${cidade.codigo}" th:text="${cidade.nome}"></option>
				    </select>
				    <label>Cidades</label>
				 </div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input type="text" id="TelefoneFor" name="TelefoneFor" class="validate" required	maxlength="15"> 
					<label for="TelefoneFor" data-error="Preencha o campo Telefone corretamente" class="active">Telefone</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="CNPJFor" name="CNPJFor" class="validate" required maxlength="14"> 
					<label for="CNPJFor" data-error="Preencha o campo CPF corretamente" class="active">CNPJ</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				</div>
			</div>
		</form>
	</div>
	
<div th:replace="footer :: footer"></div>
</body>


</html>