<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Edição de Fornecedores</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	

	<div class="container">
		<form id="CadCidades" action="/Fornecedores/editar" th:object="${fornecedores}" method="post">
		<div class="">
				<div class="input-field col s6">
	            	<input type="text" id="CodigoCli" name="CodigoCli" th:field="*{CodigoFor}" readonly="readonly"/>
		    		<label for="CodigoCli">Código do Cliente</label>	
				</div>
			</div>
			<div class="">
				<div class="input-field col s6">
					<input type="text" id="NomeCli" name="NomeCli" class="validate" th:field="*{NomeFor}" required maxlength="100">
					 <label for="NomeCli" data-error="Preencha o campo Nome Cidade" class="active">Nome Do Cliente</label>
				</div>
			</div>
			<div class="">
				<div class="input-field col s6">
					<input type="text" id="EnderecoCli" name="EnderecoCli" class="validate" th:field="*{EnderecoFor}" required maxlength="255">
					 <label for="EnderecoCli" data-error="Preencha o campo Endereço" class="active">Endereço</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="EmailCli" name="EmailCli" class="validate" th:field="*{EmailFor}" required maxlength="45"> 
					<label for="EmailCli"	data-error="Preencha o campo Email corretamente" class="active">Email</label>
				</div>
				 <div class="input-field col s6">
				    <select id="CodigoCid" name="CodigoCid" required>
				      <option th:each = "cidade : ${cidade}" th:selected="*{CodigoCid}==${cidade.codigo}" th:value="${cidade.codigo}" th:text="${cidade.nome}"></option>
				    </select>
				    <label>Cidades</label>
				 </div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input type="text" id="TelefoneCli" name="TelefoneCli" class="validate" th:field="*{TelefoneFor}" required maxlength="15"> 
					<label for="TelefoneCli" data-error="Preencha o campo Telefone corretamente" class="active">Telefone</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="CNPJFor" name="CNPJFor" class="validate" th:field="*{CNPJFor}" required maxlength="14"> 
					<label for="CNPJFor" data-error="Preencha o campo CPF corretamente" class="active">CNPJ</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				</div>
			</div>
		</form>
	</div>
	
<div th:replace="footer :: footer"></div>
</body>


</html>