<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Fornecedores</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	
	<div class="container">	
	<a href="/Fornecedores/Cadastro">Cadastro de Fornecedores</a>
		<table class="striped">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Codigo</th>
					<th class="mdl-data-table__cell--non-numeric">Nome</th>
					<th class="mdl-data-table__cell--non-numeric">Endereço</th>
					<th class="mdl-data-table__cell--non-numeric">Cidade</th>
					<th class="mdl-data-table__cell--non-numeric">Email</th>
	    			<th class="mdl-data-table__cell--non-numeric">CNPJ</th>
	    			<th class="mdl-data-table__cell--non-numeric">Telefone</th>
	    			<th class="mdl-data-table__cell--non-numeric">Editar</th>
	    			<th class="mdl-data-table__cell--non-numeric">Excluir</th>
				</tr>
			</thead>
			<tr th:each = "fornecedore : ${listFornecedores}">
				<td th:text = ${fornecedore.CodigoFor}></td>
				<td th:text = ${fornecedore.NomeFor}></td>
				<td th:text = ${fornecedore.EnderecoFor}></td>
				<td th:text = ${fornecedore.CodigoCid}></td>
				<td th:text = ${fornecedore.EmailFor}></td>
				<td th:text = ${fornecedore.CNPJFor}></td>
				<td th:text = ${fornecedore.TelefoneFor}></td>
				<td>
					<form action="/Fornecedores/editar" method="get">
					  <input type="hidden" name="id" th:value="${fornecedore.CodigoFor}" />					   			
					  <button type="submit"  class="mdl-chip__action"><i class="material-icons">create</i></button>
					</form>
			    </td>
				<td>
					<form action="/Fornecedores/excluir" method="post">					   			 
					  <input type="hidden" name="id" th:value="${fornecedore.CodigoFor}" />								 					   			 
					  <button type="submit"><i class="material-icons">delete</i></button>
					</form>
				</td>				
			</tr>
		</table>
	</div>
	
	<div th:replace="footer :: footer"></div>
</body>


</html>