<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Edição de Funcionario</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	

	<div class="container">
		<form id="CadCidades" action="/Funcionarios/editar" th:object="${funcionario}" method="post">
		<div class="">
				<div class="input-field col s6">
	            	<input type="text" id="CodigoFunc" name="CodigoFunc" th:field="*{CodigoFunc}" readonly="readonly"/>
		    		<label for="CodigoFunc">Código do funcionario</label>	
				</div>
			</div>
			<div class="">
				<div class="input-field col s6">
					<input type="text" id="NomeFunc" name="NomeFunc" class="validate" th:field="*{NomeFunc}" required maxlength="100">
					 <label for="NomeFunc" data-error="Preencha o campo Nome Funcionario" class="active">Nome Do Funcionario</label>
				</div>
			</div>
			<div class="">
				<div class="input-field col s6">
					<input type="text" id="EnderecoFunc" name="EnderecoFunc" class="validate" th:field="*{EnderecoFunc}" required maxlength="255">
					 <label for="EnderecoFunc" data-error="Preencha o campo Endereço" class="active">Endereço</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="EmailFunc" name="EmailFunc" class="validate" th:field="*{EmailFunc}" required maxlength="45"> 
					<label for="EmailFunc"	data-error="Preencha o campo Email corretamente" class="active">Email</label>
				</div>
				 <div class="input-field col s6">
				    <select id="CodigoCid" name="CodigoCid" required>
				      <option th:each = "cidade : ${cidade}" th:selected="*{CodigoCid}==${cidade.codigo}" th:value="${cidade.codigo}" th:text="${cidade.nome}"></option>
				    </select>
				    <label>Cidades</label>
				 </div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input type="text" id="TelefoneFunc" name="TelefoneFunc" class="validate" th:field="*{TelefoneFunc}" required maxlength="15"> 
					<label for="TelefoneFunc" data-error="Preencha o campo Telefone corretamente" class="active">Telefone</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="CPFFunc" name="CPFFunc" class="validate" th:field="*{CPFFunc}" required maxlength="14"> 
					<label for="CPFFunc" data-error="Preencha o campo CPF corretamente" class="active">CPF</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="SalarioFunc" data-thousands="." data-decimal="," data-prefix="R$ " name="SalarioFunc" th:field="*{SalarioFunc}" class="validate" required maxlength="14"> 
					<label for="SalarioFunc" data-error="Preencha o campo Salario corretamente" class="active">Salario</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="DataNFunc" name="DataNFunc" th:field="*{DataNFunc}" required maxlength="10">
					<label for="DataNFunc" data-error="Preencha o campo CPF corretamente" class="active">Data de Nascimento</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				</div>
			</div>
		</form>
	</div>
	
<div th:replace="footer :: footer"></div>
</body>


</html>