<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Cidades</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="style/styleCss.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
</head>
<body>
	<header>		  
	<nav>
	  <div class="nav">
	    <a href="/" class="brand-logo">Logo</a>
	    <ul class="right hide-on-med-and-down">
	      <li><a href="sass.html">Clientes</a></li>
	      <li><a href="badges.html">Funcionarios</a></li>
	      <li><a href="badges.html">Fornecedores</a></li>
	      <li><a href="badges.html">Produtos</a></li>
	      <li><a href="/Cidade/Listar">Cidades</a></li>
	      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
	    </ul>
	  </div>
	</nav>
	
	<ul id="dropdown1" class="dropdown-content">
	  <li class="divider"></li>
	  <li><a href="#!">Cadastro de Clientes</a></li>
	  <li><a href="#!">Cadastro de Funcionarios</a></li>
	  <li><a href="/Cidade/Cadastro">Cadastro de Cidades</a></li>
	  <li><a href="#!">Cadastro de Fornecedores</a></li>
	  <li><a href="#!">Cadastro de Produtos</a></li>
	  <li class="divider"></li>
	</ul>
	
	</header>
	

	<div class="container">
		<form id="CadCidades" action="/Cidade/Cadastro" method="post">
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="nome" name="nome" class="validate" required	maxlength="255">
					 <label for="nome" data-error="Preencha o campo Nome Cidade" class="active">Nome Da Cidade</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input type="text" id="UF" name="UF" class="validate" required	maxlength="2"> 
					<label for="UF"	data-error="Preencha o campo UF corretamente" class="active">UF</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="cep" name="CEP" class="validate" required maxlength="9"> 
					<label for="CEP" data-error="Preencha o campo CEP corretamente" class="active">CEP</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				</div>
			</div>
		</form>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script src="/js/main.js"></script>

</body>


</html>