<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Edição de Cidades</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	
	<div class="container">
		<form id="EdiCidades" action="/Cidade/salvarAlteracao" th:object="${cidade}" method="post">
			<div class="row">
				<div class="input-field col s6">
	            	<input class="mdl-textfield__input" type="text" id="input-codigo" th:field="*{codigo}" readonly="readonly"/>
		    		<label class="mdl-textfield__label" for="input-codigo">Código da Cidade</label>	
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="nome" name="nome" class="validate" th:field="*{nome}" required	maxlength="255">
					 <label for="nome" data-error="Preencha o campo Nome Cidade" class="active">Nome Da Cidade</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input type="text" id="UF" name="UF" class="validate" th:field="*{UF}" required	maxlength="2"> 
					<label for="UF"	data-error="Preencha o campo UF corretamente" class="active">UF</label>
				</div>
				<div class="input-field col s3">
					<input type="text" id="cep" name="CEP" class="validate" th:field="*{CEP}" required maxlength="9"> 
					<label for="CEP" data-error="Preencha o campo CEP corretamente" class="active">CEP</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				</div>
			</div>
		</form>
	</div>

<div th:replace="footer :: footer"></div>
</body>


</html>