<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	
	<div class="container">	
	<a href="/Cidade/Cadastro">Cadastro de Cidades</a>
		<table class="striped">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Codigo</th>
					<th class="mdl-data-table__cell--non-numeric">Nome Cidade</th>
					<th class="mdl-data-table__cell--non-numeric">UF</th>
					<th class="mdl-data-table__cell--non-numeric">CEP</th>
					<th class="mdl-data-table__cell--non-numeric">Editar</th>
	    			<th class="mdl-data-table__cell--non-numeric">Excluir</th>
				</tr>
			</thead>
			<tr th:each = "cidade : ${cidades}">
				<td th:text = ${cidade.codigo}></td>
				<td th:text = ${cidade.nome}></td>
				<td th:text = ${cidade.UF}></td>
				<td th:text = ${cidade.CEP}></td>
				<td>
					<form action="/Cidade/editar" method="get">
					  <input type="hidden" name="id" th:value="${cidade.codigo}" />					   			
					  <button type="submit"  class="mdl-chip__action"><i class="material-icons">create</i></button>
					</form>
			    </td>
				<td>
					<form action="/Cidades/excluir" method="post">					   			 
					  <input type="hidden" name="id" th:value="${cidade.codigo}" />								 					   			 
					  <button type="submit"><i class="material-icons">delete</i></button>
					</form>
				</td>				
			</tr>
		</table>
	</div>
	
<div th:replace="footer :: footer"></div>
</body>


</html>