<header th:fragment="header">		  
	<nav>
	  <div class="nav">
	    <a href="/" class="brand-logo">Logo</a>
	    <ul class="right hide-on-med-and-down">
	      <li><a href="/Clientes">Clientes</a></li>
	      <li><a href="/Funcionarios">Funcionarios</a></li>
	      <li><a href="/Fornecedores">Fornecedores</a></li>
	      <li><a href="/Cidades">Cidades</a></li>
	      <li><a href="/Produtos">Produtos</a></li>
	      <li><a href="/Estoque">Estoque</a></li>
	      <li><a href="/Vendas">Venda</a></li>
	    </ul>
	  </div>
	</nav>	
</header>