<header th:fragment="header">		  
	<nav>
	  <div class="nav">
	    <a href="/" class="brand-logo">Logo</a>
	    <ul class="right hide-on-med-and-down">
	      <li><a href="/Clientes">Clientes</a></li>
	      <li><a href="/Funcionarios">Funcionarios</a></li>
	      <li><a href="badges.html">Fornecedores</a></li>
	      <li><a href="badges.html">Produtos</a></li>
	      <li><a href="/Cidades">Cidades</a></li>
	      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
	    </ul>
	  </div>
	</nav>
	
	<ul id="dropdown1" class="dropdown-content">
	  <li class="divider"></li>
	  <li><a href="#!">Cadastro de Clientes</a></li>
	  <li><a href="#!">Cadastro de Funcionarios</a></li>
	  <li><a href="/Cidade/Cadastro">Cadastro de Cidades</a></li>
	  <li><a href="#!">Cadastro de Fornecedores</a></li>
	  <li><a href="#!">Cadastro de Produtos</a></li>
	  <li class="divider"></li>
	</ul>
	
</header>