<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Funcionarios</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	

	<div class="container">
		<form id="CadCidades" action="/Vendas/Cadastro" method="post">
			<div class="row">
				 <div class="input-field col s3">
				    <select id="CodigoFunc" name="CodigoFunc" required>
				      <option th:each = "funcionario : ${funcionarios}" th:value="${funcionario.CodigoFunc}" th:text="${funcionario.NomeFunc}"></option>
				    </select>
				    <label>Funcionario</label>
				 </div>
				 <div class="input-field col s3">
				    <select id="CodigoCli" name="CodigoCli" required>
				      <option th:each = "cliente : ${clientes}" th:value="${cliente.CodigoCli}" th:text="${cliente.NomeCli}"></option>
				    </select>
				    <label>Cliente</label>
				 </div>
				<div class="input-field col s3">
					<input type="text" id="DataVenda" name="DataVenda" required maxlength="10">
					<label for="DataVenda" data-error="Preencha o campo CPF corretamente" class="active">Data da Venda</label>
				</div>
				<div class="input-field col s3">
					<input type="text" class="validate" id="ValorTotalVenda" name="ValorTotalVenda" th:each = "valor : ${valorOrder}" th:value="${valor}" th:text="${valor}" required maxlength="14">
					<label for="ValorTotalVenda" data-error="Preencha o campo Salario corretamente" class="active">Valor Total da Venda</label>
				</div>
			</div>
			
			 <a class="waves-effect waves-light btn modal-trigger" href="/Vendas/Card">Adicionar Produto</a>
			
		<table class="striped">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Nome Do Produto</th>
					<th class="mdl-data-table__cell--non-numeric">Quantidade</th>
					<th class="mdl-data-table__cell--non-numeric">Preco</th>
	    			<th class="mdl-data-table__cell--non-numeric">Excluir</th>
				</tr>
			</thead>
			<tr th:each = "item : ${itensCard}">
				<td th:text = ${item.nomeProduto}></td>
				<td th:text = ${item.quantidade}></td>
				<td th:text = ${item.preco}></td>
				<td>
					<form action="/Vendas/ExcluiItemId" method="post">					   			 
					  <input type="hidden" name="id" th:value="${item.idproduto}" />								 					   			 
					  <button type="submit"><i class="material-icons">delete</i></button>
					</form>
				</td>
			</tr>
		</table>
			
		<div class="row">
			<div class="input-field col s3">
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
			</div>
		</div>
		</form>
	</div>
	
<div th:replace="footer :: footer"></div>
</body>


</html>