<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Funcionarios</title>
	<head th:replace="head :: head"></head>
</head>
<body>
	<header th:replace="menu/Menu :: header"></header>
	
	<div class="container">	
	<a href="/Vendas/Cadastro">Cadastrar Nova Venda</a>
		<table class="striped">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric">Codigo</th>
					<th class="mdl-data-table__cell--non-numeric">Funcionario</th>
					<th class="mdl-data-table__cell--non-numeric">Cliente</th>
	    			<th class="mdl-data-table__cell--non-numeric">Data da Venda</th>
	    			<th class="mdl-data-table__cell--non-numeric">Valor da Order</th>
	    			<th class="mdl-data-table__cell--non-numeric">Visualizar</th>
	    			<th class="mdl-data-table__cell--non-numeric">Excluir</th>
				</tr>
			</thead>
			<tr th:each = "vendas : ${vendas}">
				<td th:text = ${vendas.CodigoVenda}></td>
				<td th:text = ${vendas.CodigoFunc}></td>
				<td th:text = ${vendas.CodigoCli}></td>
				<td th:text = ${vendas.DataVenda}></td>
				<td th:text = ${vendas.ValorTotalVenda}></td>
				<td>
					<form action="/Vendas/Visualizar" method="get">
					  <input type="hidden" name="id" th:value="${vendas.CodigoVenda}" />					   			
					  <button type="submit"  class="mdl-chip__action"><i class="material-icons">create</i></button>
					</form>
			    </td>
				<td>
					<form action="/Vendas/excluir" method="post">					   			 
					  <input type="hidden" name="id" th:value="${vendas.CodigoVenda}" />								 					   			 
					  <button type="submit"><i class="material-icons">delete</i></button>
					</form>
				</td>				
			</tr>
		</table>
	</div>
	
	<div th:replace="footer :: footer"></div>
</body>


</html>